.search-box{
    /* background-color: red; */
    position: relative;
}
.search-input{
    margin-left: 5px;
    padding:8px;
    outline: none;
    height:2rem;
    background-color: rgb(243, 243, 243);
    border: none;
    font-size: 1rem;
    width: 200px;
    font-family: 'Nunito';
    border-radius: 5px;
}
.search-input:focus-visible{
    border: none;
}
.suggestions-container{
    list-style-type: none;
    z-index: 5;
    color: rgb(80, 48, 11);
    position: absolute;
    top: 40px;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(255, 245, 231);

}
.list-container{
    /* background-color:red; */
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1.1rem;
    font-family: 'Nunito';
}
.list-container:hover{
    background-color: rgb(228, 228, 228);
}